{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <title>Data Vaksin</title>
  </head>
  <body>
    <div class="header">
      <h1>INPUT DATA</h1>
    </div>
      <form action="" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
        <input type="submit" value="Submit">
      </form>
  </body>
