{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Data Vaksin</title>
  </head>
  <style>
      .content-table thead tr {
          border-collapse: collapse;
          margin: 25px 0;
          font-size: 0.9em ;
          min-width: 400px;
          border-radius: 5px 5px 0 0;
          overflow: hidden;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      }

      .content-table thead tr {
          background-color: #009870;
          color: white;
          text-align: left;
      }

      .content-table th,
      .content-table td {
          padding: 12px 15px;
      }

      .content-table tbody tr {
          border-bottom: 1px solid #dddddd;
      }

      .content-table tbody tr:nth-of-type(even) {
          background-color: #f3f3f3;
      }
      
      .content-table tbody tr:last-of-type {
          border-bottom: 2px solid #009879;
      }
      table, th, td {
      border: 1px solid black;
      }
  </style>
  <div class="header">
    <h1 align="center">DAFTAR NAMA</h1>
  </div>
  <body>
    <table class="content-table" style="width: 50%;" align="center">
      <tr>
        <th>Name</th>
        <th>DOB</th>
        <th>NIK</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if vaksin %}
      {% for vaksin_ in vaksin %}
      <!-- EXAMPLE SECTION -->
          <tr>
            <td>{{ vaksin_.name }}</td>
            <td>{{ vaksin_.dob }}</td>
            <td>{{ vaksin_.nik }}</td>
          </tr>
        {% endfor %}
      {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
