.header{
    padding: 50px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.15);
    justify-content: center;
    color: black;
}
form{
    display: flex;
    justify-content: center;
    place-items: center;
    margin: 0;
    width: 100vw;
    height: 50vh;
}
input{
    padding: 0.5rem 2rem;
    border-radius:10rem;
}